*{
    padding: 0;
    margin: 0;
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "barrasuperior barrasuperior barrasuperior"
               "seccion1 seccion2 seccion3"
               "barrainferior barrainferior barrainferior";
               width: 100vw;
               height: 100vh;
}
.barrasuperior{
    grid-area: barrasuperior;
    background-color: aquamarine;
}
.seccion1{
    grid-area: seccion1;
    background-color: blueviolet;
}
.seccion2{
    grid-area: seccion2;
    background-color: rgb(43, 144, 226);
}
.seccion3{
    grid-area: seccion3;
    background-color: rgb(226, 43, 43);
}
.barrainferior{
    grid-area: barrainferior;
    background-color: chartreuse;
}